<ul class="social-media-list">
  <li><a href="https://twitter.com/{{ site.twitter_username }}" title="JacopoBeschi" target="_blank"><i class="fab fa-twitter-square icon-mid"></i></a></li>
  <li><a href="https://github.com/{{ site.github_username }}" title="intrip" target="_blank"><i class="fab fa-github-alt icon-mid"></i></a></li>
  <li><a href="https://gitlab.com/{{ site.gitlab_username }}" title="jacopo-beschi" target="_blank"><i class="fab fa-gitlab icon-mid"></i></a></li>
  <li><a href="http://www.linkedin.com/in/{{ site.linkedin_username }}" title="jacopobeschi" target="_blank"><i class="fab fa-linkedin icon-mid"></i></a></li>
  <li><a href="{{ 'feed.xml' | relative_url }}" title="{{ social.rss | escape }}"><i class="fas fa-rss-square icon-mid"></i></a></li>
</ul>
